<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>545864141345-91ptj0q3n2cvnfugf60nbpr80b8tupko.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.545864141345-91ptj0q3n2cvnfugf60nbpr80b8tupko</string>
	<key>API_KEY</key>
	<string>AIzaSyC_jEOaNZnySFq80nI6BsYJdRxeU6aRpTc</string>
	<key>GCM_SENDER_ID</key>
	<string>545864141345</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blazor.bdmt</string>
	<key>PROJECT_ID</key>
	<string>blazor-media-toolkit</string>
	<key>STORAGE_BUCKET</key>
	<string>blazor-media-toolkit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:545864141345:ios:61ac3ff8a74df7e5633160</string>
</dict>
</plist>